<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="top">
    <h3>Admin page</h3>
    <form action="/admin" method="post">
        <p><input type="text" name="userName" placeholder="Введите имя" required/></p>
        <input type="submit" name="create" value="Создать нового пользователя">
    </form>
    <p>
        <#list create as create>
        Created User: name '${create.name}'<br>
        </#list>
    <hr>
    <form action="/admin" method="post">
        <p><input type="submit" name="getUsers" value="Показать список пользователей"></p>
    </form>
    <#list users as user>
    name:${user.name}<br>
    </#list>
<form action="/admin" method="post">
    <input type="submit" name="exitAdmin" value="Выход">
</form>
</div>
</body>
